body {
    position: relative;
    width: 100%;
    margin: 0;
    background-image: url(/src/img/background.jpg); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

* {
    font-family: 'RobotoRegular', sans-serif;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 70px;
    box-sizing: border-box;
    overflow-y: auto;
}

.page>* {
    margin: auto;
}

h1,h2,h3,p,a {
    color: rgba(0,0,0,0.8);
}

hr {
    border:0;
    border-top: 1px solid rgba(0,0,0,0.05);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #3498db;
    color: rgba(255, 255, 255, 0.927);
    border: 2;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}

[disabled]{
    opacity: 0.3;
}

@media screen and (max-width: 500px){
    .button {
        margin: 5px 10px;
    }
    .or {
        display: inline-block;
        width: 100%;
    }
}
